.conteneur{
    height: 100px;
    width: 600px;
    background-color: whitesmoke;
    margin: 25px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}


.conteneur button{
    width: 70px;
    height: 30px;
    align-self: flex-end;
}